/* Start Variabels */
:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 65%);
}
/* End Variabels */
/* Start Global Rules */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
}
ul {
    list-style: none;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
/* End Global Rules */
/* Start Componant */
.main-heading {
    text-align: center;
}
.main-heading h2 {
    font-weight: normal;
    font-size: 40px;
    padding: 60px 0 30px;
    position: relative;
    margin: 70px;
}
.main-heading h2::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: solid 2px black;
    border-radius: 50%;
    background: white;
    bottom: 0;
    transform: translate(-50%, 45%);
    left: 50%;

}
.main-heading h2::before {
    content: "";
    position: absolute;
    width: 125px;
    height: 2px;
    background: black;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.main-heading p {
    width: 550px;
    line-height: 2;
    color: #777;
    max-width: 100%;
    margin: 0 auto 100px;
}
/* End Componant */
/* Strar Header  */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
  }
header .container {   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    align-items: center;
    min-height: 97px;
}
header .container::after {
    content: '';
    width: calc(100% - 30px);
    height: 1px;
    position: absolute;
    background: #a2a2a2;
    bottom: 0px;
    left: 15px;
}
header .container nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header .container a img {
    height: 40px;
}
header .container ul {
    display: flex;
    position: absolute;
    right: 75px;
}
header .container ul li {
    color: white;
}
header .container nav i {
    color: white;
    position: absolute;
    right: 0;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
}
header .container nav ul li a {
    color: white;
    display: block;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    padding: 40px 10px;
    position: relative;
    z-index: 3;
    margin-top: 5px;
}
header .container nav ul li .active, header .container nav ul li a:hover {
    color: var(--main-color);
    border-bottom: solid 1px var(--main-color);
    margin-bottom: 5px;
}
header nav .form {
    height: 30px;
    width: 40px;
    margin-left: 30px;
    border-left: solid 1px white;
    position: relative;
}
header .container .bbb {
    color: white;
    font-size: 22px;
    right: 70px;
}
@media (max-width: 767px) {
    header .container ul {
        display: none;
    }
}
@media (min-width: 768px) {
    header .container .bbb {
        display: none;
    }
}
header .container nav .bbb:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    color: #00000050;
}
header .container nav .bbb:hover + ul li a {
    padding: 15px;
}
/* End Header  */
/* Start Landing */
.landing {
    background-image: url(../images/landing.jpg);
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    position: relative;
}
.landing .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 60%);
}
.landing .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--transparent-color);
    height: 50%;
    width: 50%;
    color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 60px 60px 0px 120px;
}
.landing .text h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
}
.landing .text p {
    line-height: 2;
    font-size: 14px;
    padding-bottom: 60px;
}
@media (max-width:992px) {
    .landing .text {
        width: 100%;
        padding-left: 30px;
    }
}
.landing .point {
    position: absolute;
    bottom: 0;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px;
}
.landing .point span {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 50%;
    border: solid 1px white;
    margin: 5px;
}
.landing .point .active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.landing .arrow {
    font-size: 30px;
    color: white;
}
.landing .arrow .left {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}
.landing .arrow .right {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}
@media (max-width:992px) {
    .landing .arrow {
        display: none;
    }
}
/* End Landing */
/* Start Services */
.services .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 30px;
}
@media (max-width:767px) {
    .services .container {
        display: block;
    }
}
.services .container .serv {
    display: flex;
}
.services .container .serv i {
    font-size: 45px;
}
.services .container .serv .text {
    padding: 40px;
    margin-top: -40px;
}
.services .container .serv .text h3 {
    color: var(--main-color);
    padding-bottom: 30px;
    font-weight: 600;
    font-size: 20px;
}
.services .container .serv .text p {
    line-height: 2;
    color: #777;
}
/* End Services */
/* Start Design */
.design {
    background-image: url(../images/design-features.jpg);
    background-size: cover;
    height: 600px;
    position: relative;
    overflow: hidden;
}
.design .over-lay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 60%);
    z-index: 1;
}
.design .text {
    position: absolute;
    right: 0;
    z-index: 2;
    color: white;
    background-color: var(--transparent-color);
    padding: 60px;
    top: 50%;
    transform: translateY(-50%);
    width: 55%;
    height: 60%;
}
.design .text h2 {
    font-weight: 400;
    padding-bottom: 50px;
}
.design .text .text-cont {
    display: flex;
    padding-bottom: 30px;
}
.design .text .text-cont i {
    padding-right: 15px;
}
.design .mobile {
    position: absolute;
    z-index: 3;
    bottom: -100px;
    left: 100px;
}
@media (max-width: 992px) {
    .design .mobile {
        display: none;
    }
    .design .text {
        min-width: 100%;
    }
    .design .text .text-cont {
        padding-bottom: 30px;
    }    
}
/* End Design */
/* Start Protfolio */
.portfolio {
    margin-bottom: 100px;
}
.portfolio .cat {
    display: flex;
    margin: 100px auto 50px;
    justify-content: center;
}
.portfolio .cat li {
    padding: 8px;
    font-weight: 400;
    font-size: 15;
}
.portfolio .cat .active {
    background-color: var(--main-color);
    color: white;
}   
@media (max-width: 992px) {
    .portfolio .images {
        display: flex;
        flex-wrap: wrap;
    }
    .portfolio .cat li {
        padding: 5px;
        font-size: 10;
    }
}
.portfolio .images {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr);
}
.portfolio .images img {
    max-width: 100%;
    transition: 0.3s;
}
.portfolio .images .caption {
    position: relative;
    left: 0;
    bottom: 30%;
    background-color: white;
    height: 30%;
    width: 100%;
    margin-bottom: -15%;
    padding: 5px 15px 0px;
    transition: 0.3s;
    overflow: hidden;
    display: none;
}
.portfolio .images .caption h4 {
    font-weight: 400;
}
.portfolio .images .caption p {
    color: var(--main-color);
}
.portfolio .images img:hover + .caption {
    display: block;
    flex-direction: column;
    justify-content: space-evenly;
}
@media (max-width: 992px) {
    .portfolio .images {
        display: flex;
        flex-wrap: wrap;
    }
    .portfolio .images .caption {
        padding-left: 30px;
    }
}
.portfolio .images img:hover {
    transform: rotate(3deg) scale(1.1);
}
.portfolio .more {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: var(--main-color);
    color: white;
    margin: 30px auto;
    text-decoration: none;
}
/* End Protfolio */
/* Start Video */
.video {
    position: relative;
}
.video video {
    width: 100%;
}
.video .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 60%);
    z-index: 1;
}
.video .text {
    width: 100%;
    height: 40%;
    position: absolute;
    top: 30%;
    left: 50%;
    z-index: 1;
    color: white;
    transform: translate(-50%);
    background-color: var(--transparent-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.video .text h3 {
    font-weight: normal;
    font-size: 50;
}
.video .text a {
    text-decoration: none;
    background-color: black;
    padding: 10px 20px;
    color: white;
    border-radius: 10px 0px;
}
@media (max-width: 992px) {
    .video .text {
        height: 50%;
    }
    .video .text a {
        padding: 5px 10px;
    }
}
/* End Video */
/* Start About */
.about {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    height: 700px;
    justify-content: space-between;
}
.about .image img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20%;
    max-width: 100%;
}
@media (max-width: 992px) {
    .about .image img{ margin-bottom: 15%;
    }
    .about {
        height: 600px;
    }
}
/* End About */
/* Start Statistics */
.stats {
    position: relative;
}
.stats .image {
    background-image: url(../images/stats.png);
    height: 100vh;
    max-width: 100%;
}
.stats .over-lay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 60%);
    z-index: 1;
}
.stats ul {
    position: absolute;
    background-color: var(--transparent-color);
    top: 15%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: row;
    z-index: 3;
    justify-content: space-evenly;
    width: 80%;
    height: 70%;
    align-items: center;
}
@media (max-width: 992px) {
    .stats ul {
        flex-direction: column;
        height: 100%;
        width: 100%;
        top: 0%;
    }
    .stats ul li{
        border-bottom: solid 1px #0000002e;
        padding: 10px;
    }
}
.stats ul li {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    text-align: center;
}
.stats ul li i {
    background-color: black;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50% 50%;
    z-index: 3;
    padding-top: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.stats ul li h2 {
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 50px;
}
.stats ul li p {
    color: white;
}
/* End Statistics */
/* Start Skills */
.our-skills .container {
    margin-top: 100px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.our-skills .container h3 {
    text-align: center;
    font-weight: normal;
}
.our-skills .container .disc {
    text-align: center;
    color: #777;
    padding: 50px;
}
.our-skills .container .test .info {
    display: flex;
    position: relative;
    padding: 10px;
}
@media (max-width: 992px) {
    .our-skills .container .test .info {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .our-skills .container {
        display: flex;
        flex-direction: column;
    }
    .our-skills .container .test .info .text p {
        margin-bottom: 60px;
    }
    .our-skills .container .test .info .text {
        margin-bottom: 100px;
    }
}
.our-skills .container .test .info img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0px 50px 50px;
}
.our-skills .container .test .info .text .name {
    position: absolute;
    right: 0px;
    bottom: 10px;
    color: #777;
}
.our-skills .container .test .info .text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.our-skills .container .test .info .text::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.137);
}
.skills ul {
    list-style: none;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.skills ul h4 {
    font-weight: 400;
}
/* End Skills */
